<div class="ion-page">
  <ion-content>
    <router-outlet></router-outlet><!--ION CONTENT WRAPPER OR RANDOM UI RENDERING-->
  </ion-content>
  <ion-footer>
    <ion-toolbar>

      <!--ION-TABS COST SO MUCH TIME WITH RANDOM UNKNOWN RENDERING ERRORS LIKE DUPLICATE ACTION SHEETS . REMOVED-->
      <div class="tab-menu">

        <!--List-->
        <div class="tab-button" (click)="navigate(['employee-feature/list'])">
          <div><ion-icon name="list-outline" size="large"></ion-icon></div>
          <span class="tab-button-text">list</span>
        </div>

        <!--Form-->
        <div [hidden]="!(_hasOperation$ | async)" class="tab-button" (click)="navigate(['employee-feature/form'])">
          <div><ion-icon name="person-outline" size="large"></ion-icon></div>
          <span class="tab-button-text">employee</span>
        </div>

        <!--Search-->
        <div class="tab-button" (click)="navigate(['employee-feature/search'])">
          <div><ion-icon name="search-outline" size="large"></ion-icon></div>
          <span class="tab-button-text">search</span>
        </div>
      </div>
    </ion-toolbar>
  </ion-footer>

</div>