<div class="ion-page list-page">

  <!--LIST-->
  <ion-content>

    <div class="filter">
      <ion-searchbar search-icon="funnel-outline" [debounce]="1000" (ionCancel)=filterCancel()
        (ionInput)=filterDebounce($event) placeholder=". . ."></ion-searchbar>
    </div>

    <!--List Item-->
    <ion-card *ngFor=" let e of this._listFiltered$ | async">

      <!-- header -->
      <ion-card-header>
        <ion-card-title>
          <div class="title">
            <ion-badge>{{e.taxFile.taxFileRecords.length}} </ion-badge>
            <ion-text> {{e.firstname}} {{e.lastname}}</ion-text>
          </div>

          <!--Menu-->
          <div class="menu">
            <ion-button fill="clear" class="menu-button" (click)="openActionSheet(e)">
              <ion-icon name="ellipsis-vertical-outline" class="menu-button"></ion-icon>
            </ion-button>
          </div>
        </ion-card-title>

        <!--subtitle-->
        <ion-card-subtitle>
          <ion-text>
            {{e.taxFile.alias}}
          </ion-text>

        </ion-card-subtitle>
      </ion-card-header>

      <!--content-->
      <ion-card-content>
        Age {{e.age}} | {{e.created | date: "MMM d,y"}}
      </ion-card-content>
    </ion-card>


    <!--MODAL-->
    <ion-modal id="modal" [isOpen]="_modalIsOpen$! | async" (willDismiss)="modalDismiss($event)">
      <ng-template>
        <confirm-delete></confirm-delete>
      </ng-template>
    </ion-modal>

  </ion-content>
</div>

<!--Actionsheet menu-->
<ion-action-sheet [isOpen]="_actionSheetIsOpen$ | async" [buttons]="_actionSheetButtons"
  (willDismiss)="actionSheetDismiss($event)">

</ion-action-sheet>