<div class="ion-page list-page">

  <!--LIST-->
  <ion-content>

    <div class="filter">
      <ion-searchbar search-icon="filter-outline" [debounce]="1000" (ionCancel)=filterCancel()
        (ionInput)=filterDebounce($event) placeholder=". . ."></ion-searchbar>
    </div>

    <!--List Item-->
    <ion-card *ngFor=" let e of this._listFilteredWithActions$ | async">

      <!-- header -->
      <ion-card-header>
        <ion-card-title>
          <div class="title">
            <ion-badge>{{e.taxFile.taxFileRecords.length}} </ion-badge>
            <ion-text> {{e.firstname}} {{e.lastname}}</ion-text>
          </div>

          <!--Menu-->
          <div class="menu">
            <ion-button fill="clear" class="menu-button" (click)="openMenu(e)">
              <ion-icon name="ellipsis-vertical-outline" class="menu-button"></ion-icon>
            </ion-button>
          </div>
        </ion-card-title>

        <!--subtitle-->
        <ion-card-subtitle>
          <ion-text>
            {{e.taxFile.alias}}
          </ion-text>

        </ion-card-subtitle>
      </ion-card-header>

      <!--content-->
      <ion-card-content>
        Age {{e.age}} | {{e.created | date: "MMM d,y"}}
      </ion-card-content>
    </ion-card>
  </ion-content>

</div>