<form [formGroup]=_FORM>
  <div class="container form">
    <div class="row">
      <div class="col">

        <div class="formControl">
          <label class="formLabel" for="firstname">firstname:</label>
          <input class="formInput" id="firstname" type="text" [formControl]="_FORM.controls['firstname']" />
          <div class="alert" [hidden]="_firstnameValid$ | async"> must be number</div>
        </div>

        <div class="formControl">
          <label class="formLabel" for="lastname">lastname:</label>
          <input class="formInput" id="lastname" type="text" [formControl]="_FORM.controls['lastname']" />
          <div class="alert" [hidden]="_lastnameValid$ | async"> must be number</div>
        </div>

        <div class="formControl">
          <label class="formLabel" for="age">age:</label>
          <input class="formInput" id="age" type="text" [formControl]="_FORM.controls['age']" />
          <div class="alert" [hidden]="_ageValid$ | async"> must be number</div>
        </div>

        <div>
          <ion-button class="" [disabled]="!(_valid$ | async)" (click)="submit()">Submit</ion-button>
        </div>


      </div>
    </div>
    x {{this._FORM.get('taxFile.alias')?.value}}x
    <!--TaxFile Records List-->
    <div class="row">
      <div class="col">
        <div *ngFor="let tfr of this._taxFileRecords">
          {{tfr.financialYear}} {{tfr.amountPaid}} {{tfr.amountClaimed}} {{tfr.created | date}}
          <ion-button fill="clear" class="menu-button" (click)="alert('click')">
            <ion-icon name="ellipsis-vertical-outline" class="menu-button"></ion-icon>
          </ion-button>
          <ion-button>delete</ion-button>
        </div>

      </div>
    </div>
  </div>
</form> <!--_employeeForm-->


<!--Actionsheet menu-->
<ion-action-sheet [isOpen]="_actionSheetIsOpen$ | async" [buttons]="_actionSheetButtons"
  (willDismiss)="actionSheetDismiss($event)">

</ion-action-sheet>