/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import '@ionic/angular/css/palettes/dark.system.css';

//Font 
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


[hidden] {
    display: none !important;
}

:root {
    //--ion-font-family: "San Francisco", "Helvetica-Neue", "Roboto-Light", sans-serif !important;
    --ion-font-family: "Nunito Sans", sans-serif !important;
    --ion-background-color: white;
}


//ACTION SHEET
.action-sheet-button-delete {
    color: red !important;
    font-weight: bolder !important;
}

//border-top: 1px solid grey !important;}
.action-sheet-button-default {
    color: black !important;
}

ion-header {

    color: white;
    background-color: white;
    padding: 0px;
    margin: 0px;

    //generated svg css from https://www.svgbackgrounds.com/set/free-svg-backgrounds-and-patterns/
    background-color: #ff9d00;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='62.6' stroke-opacity='0.07' %3E%3Ccircle fill='%23ff9d00' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23fb8d17' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23f47d24' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23ed6e2d' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23e35f34' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23d85239' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23cc453e' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23be3941' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23b02f43' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23a02644' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23901e44' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23801843' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%236f1341' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%235e0f3d' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%234e0c38' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%233e0933' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%232e062c' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;

}

ion-toolbar {
    --background: none;
    --color: none;
    padding: 0px;
    margin: 0px;

}

ion-title {
    padding: 0px;
    margin: 0px;
    text-align: center;
}

ion-menu-button {

    color: white;
    --background: none;
}




//MODAL ------------------
ion-modal {
    --width: fit-content;
    --min-width: 250px;
    --height: fit-content;
    --border-radius: 6px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
    --backdrop-opacity: 0.8;
}

ion-modal h1 {
    margin: 20px 20px 10px 20px;
}

ion-modal ion-icon {
    margin-right: 6px;
    width: 48px;
    height: 48px;
    padding: 4px 0;
    color: #aaaaaa;
}

ion-modal .wrapper {
    margin: 20px;
}

input {
    outline: none !important;
    border: 1px solid;

}

.hr-full {
    height: 2px;
    display: block;
    margin: 5px 20px 0px 0px;
    background-color: rgb(153, 152, 152);
    width: 100%;
}

.hr-right {
    height: 2px;
    justify-content: right;
    background-color: rgb(153, 152, 152);
    display: block;
    max-width: 100%;
    margin-left: 80%;
    margin-top: 3px;
    margin-bottom: 15px;
}

//-------GENERIC FORM STYLES-------
.entity-title {
    color: rgba(128, 128, 128, 0.6);
    display: block;
    width: 100%;
    text-align: center;
}

//------- FORM CONTROLS --------------

.form-group {
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.form-group-header {
    color: white;
    background-color: rgb(210, 210, 210);
    font-weight: bold;
    padding: 15px 10px 15px 20px;
    margin-bottom: 10px;
}

.form-group-subheader {
    font-weight: bold;
    margin-top: 25px;
}

.control-wrapper {
    color: rgba(88, 88, 88, 0.652);
}

.control-wrapper-invalid {
    color: red !important;
}

.control {
    width: 100%;
    margin-bottom: 10px;
}

.control:focus-within {
    color: orange !important;
}

.control-msg {
    font-style: italic;
    font-size: smaller;
    text-align: right;
}

.control-input {

    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 7%);
    width: 100%;
    height: 30px;
    font-size: small;
    padding: 10px;
}

.control-label {
    display: block;
    font-size: small;
    font-weight: bolder;
    margin-bottom: 0px;
}


//---------------
//Aggregate / entity relationships

.entity-menu {
    display: block;
    text-align: right;
    width: 100%;
}

//-----------
//Ionic components
ion-item-divider {
    background-color: rgba(128, 128, 128, 0.175);
    border: none;
    padding-left: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
}