/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import '@ionic/angular/css/palettes/dark.system.css';

//Font - google NunitoSans
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


[hidden] {
    display: none !important;
}

:root {
    //--ion-font-family: "San Francisco", "Helvetica-Neue", "Roboto-Light", sans-serif !important;
    --ion-font-family: "Nunito Sans", sans-serif !important;
    --ion-background-color: white;
}


//ACTION SHEET
.action-sheet-button-delete {
    color: red !important;
    font-weight: bolder !important;
}

//border-top: 1px solid grey !important;}
.action-sheet-button-default {
    color: black !important;
}

//Main Menu
ion-menu-button {
    --color: white;
    --background: black;
}

//MODAL ------------------
ion-modal {
    --width: fit-content;
    --min-width: 250px;
    --height: fit-content;
    --border-radius: 6px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}

ion-modal h1 {
    margin: 20px 20px 10px 20px;
}

ion-modal ion-icon {
    margin-right: 6px;

    width: 48px;
    height: 48px;

    padding: 4px 0;

    color: #aaaaaa;
}

ion-modal .wrapper {

    margin: 20px;
}

//-------GENERIC FORM STYLES-------
.entity-title {
    color: rgba(128, 128, 128, 0.6);
    display: block;
    width: 100%;
    text-align: center;
}

//------- FORM CONTROLS --------------
.form {
    margin-left: 10%;
    margin-right: 10%;

}

.form-group {
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 40px
}

.form-group-header {
    color: rgb(186, 185, 185);
    font-weight: bold;
}

.form-control-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgba(141, 141, 141, 0.652);
}

.form-control-wrapper-invalid {
    margin-top: 10px;
    color: red !important;
}

.ng-invalid.ng-dirty:not(form) {
    border-bottom: 4px solid red;
    border-top: none;
    background-color: #fed3d3;
    /* red */
}

.form-control-msg {
    font-style: italic;
    font-size: smaller;
    text-align: right;
}

.form-control {
    display: flex;
    width: 100%;
}

.form-control-label {
    font-size: smaller;
    width: 80px;
    margin-right: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: bottom;
    padding-top: 6px
}

.form-control-input {
    border-top: 0px;
    border-left: none;
    border-bottom: 3px dotted rgba(211, 210, 210, 0.652);
    border-right: none;
    padding: 3px 3px 0px 12px;
    color: black;
    vertical-align: bottom;
    width: 100%;
}

input:focus {
    outline: none;
}



//---------------
//Aggregate / entity relationships

.entity-menu {
    display: block;
    text-align: right;
    width: 100%;
}

//-----------
//Ionic components
ion-item-divider {
    background-color: rgba(128, 128, 128, 0.175);
    border: none;
    padding-left: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
}